# Admin-Client
admin.example.com {
    @allowedIps remote_ip 95.45.13.52/32

    handle @allowedIps {
        encode gzip
        reverse_proxy admin-client:80
    }

    handle {
        redir https://example.com 302
    }
}

# API
api.example.com {
    encode gzip

    @adminAllowed {
        remote_ip 95.45.13.52/32
        path /admin/*
    }

    @adminBlocked {
        path /admin/*
    }

    handle @adminAllowed {
        reverse_proxy api:8080
    }

    handle @adminBlocked {
        respond "Forbidden" 403
    }

    handle {
        reverse_proxy api:8080
    }
}

# Client
example.com {
        encode gzip
        reverse_proxy client:80
}

# LiveKit
live.example.com {
        reverse_proxy livekit:7880
}

pass.example.com {
    encode gzip
    reverse_proxy ots:3000
}